.product-view {
    width: 95%;
    height: 60vh;
    background-color: #fff;
    margin: 2rem 0;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    overflow: hidden;
}

