.product { 
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: .3s;   
    position: relative;
}

.product p {
    align-self: flex-end;
    font-weight: bold;
    color: red;
}

.product img {
    width: 100%;
    height: 12rem;
    flex-grow: 4;
}

.product h3 {
    font-size: 1.3rem;
    margin-left: 20%;
    flex-grow: 1;
}

.product:hover {
    background-color: #ddd;
    cursor: pointer;
    transform: scale(1.08);
}


.sale {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sale span {
    font-size: 4.5rem;
    color: white;
}


@media (max-width: 1024px) {
    .sale span {
        font-size: 2rem;
    }

    .product h3 {
        font-size: .8rem;
    }
}